<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<!-- To delete comments-->
<p>
  <%= link_to 'Destroy Comment', [comment.gossip, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>